Package: opennet-firmware
Maintainer: Rene Ejury <opennet@absorb.it>
Source: http://svn.opennet-initiative.de
Section: net
Depends: opennet-kmod-brcm-wl, opennet-kmod-wlcompat, opennet-wificonf, wl, openvpn, openssl-util, libgcc, opennet-olsrd, ntpclient, ip, opennet-olsrd-mod-httpinfo
Priority: normal
Description: opennet tools and webinterface (to build opennet-firmware on top of plain openwrt)
Version: 0.11ipkg-12
Architecture: mipsel
