Package: opennet-firmware
Maintainer: Rene Ejury <opennet@absorb.it>
Source: http://svn.opennet-initiative.de
Section: net
Depends: wl, openvpn, openssl-util, libgcc, olsrd, ntpclient, ip, olsrd-mod-httpinfo
Priority: normal
Description: The complete Opennet-Firmware in one package
Version: 0.11ipkg-8
Architecture: mipsel
