Package: opennet-firmware
Maintainer: Rene Ejury <opennet@absorb.it>
Source: http://svn.opennet-initiative.de
Section: net
Depends: wl, libgcc, olsrd, ntpclient, ip, iptables-mod-ulog, iptables-mod-extra, olsrd-mod-httpinfo
Priority: normal
Description: The complete Opennet-Firmware in one package
Version: 0.10ipkg-se505-2
Architecture: mipsel
